* {
    box-sizing: border-box;
}

body {
    background: url(../images/background.png);
    top: 74px;
    color: #777777;
}

header {
    position: relative;
    align-items: center;
    height: 85px;
    background: #ffffff;
    font-family: Georgia, Times, 'Times New Roman', serif;
    border-bottom: #cccccc solid 2px;
}

.hcontent {
    width: 960px;
    margin: 0 auto;
}

.logo {
    position: relative;
    float: left;
    background: #4aaaa5;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.nav {
    position: relative;
    float: right;
    padding-top: 27px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: #4aaaa5;
}

p {
    line-height: 1.85;
}

hr {
    background: #cccccc;
    height: 2px;
    margin-bottom: 20px;
}

.about, .portfolio, .contact {
    color: #777777;
    text-decoration: none;
}

.about, .portfolio {
    padding: 0 15px;
    border-right: #c0c0c0 solid 1.25px;
}

.contact {
    padding-left: 15px;
}

.container, footer {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

#headshot {
    float: left;
    padding-right: 15px;
}

.container, .containerpotfolio, .containercontact {
    clear: both;
    width: 960px;
    margin: 30px auto;
    background: #ffffff;
    border: #dddddd 1px solid;
    padding: 10px 30px;
    margin-bottom: 90px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    background: #4aaaa5;
    width: 250px;
    text-align: center;
    padding: 15px;
    margin-top: -60px;
    position: absolute
}

#hangman {
    position: relative;
    z-index: 50;
}

#hangmantext {
    z-index: 100;
}

footer {
    clear: both;
    background: #666666;
    border-top: #4aaaa5 8px solid;
    color: #dddddd;
    font-size: 10px;
    padding: 30px 20px 8px 20px;
    text-align: center;
}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {

}
